/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
public/js/vuejs_code_split
public/js/app.js
public/js/app.js.LICENSE.txt
public/mix-manifest.json
public/css/app.css
phy/
public/phy/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
yarn.lock
composer.lock
